/* --- INTER (Regular 400 & SemiBold 600) --- */

/* Regular */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./Inter-Regular.woff2') format('woff2');
}

/* Semi Bold */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./InterDisplay-SemiBold.woff2') format('woff2');
}


/* --- POPPINS (Regular 400 & Bold 700) --- */

/* Regular */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./poppins-regular-webfont.woff2') format('woff2');
}

/* Bold */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./poppins-semibold-webfont.woff2') format('woff2');
}